.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-size: 2rem;
  padding: 1.5rem;
  margin: 2rem;
  border: none;
  outline: none;
  background-color: #212121;
  color: aliceblue;
  border-radius: 20%;
}